#dotHeaderWrapper {
    height: 200px;
    width: 800px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

#dotHeaderWrapper div.pinkDot {
    background-color: rgb(200, 50, 100);
}

#dotHeaderWrapper div.dot {
    transition: opacity 1s;
}

.tier0 {
    opacity: 0.6;
}

.tier1 {
    opacity: 0.62;
}

.tier2 {
    opacity: 0.64;
}

#dotHeaderWrapper div.dot:hover {
    opacity: 1;
    transition: opacity 100ms;
}
